Options +FollowSymLinks
RewriteEngine Options


RewriteRule ^datos$ datos.php
RewriteRule ^detalles$ detalles.php
RewriteRule ^alta$ introducir.php
RewriteRule ^login$ login.php
RewriteRule ^logout$ logout.php
RewriteRule ^menu$ menu.php
